---
layout: default
title: Example PDF
description: This page displays an embedded PDF file.
cv_pdf: example_pdf.pdf
---

<!-- _layouts/pdf.html -->
<div class="post" style="max-width: 100%; margin: 0 auto">

  <header class="post-header">
    <h1 class="post-title">Example PDF {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>
  <div style="width: 100%; height: 100%;"> <!-- Set the height to 1000px -->
    {% pdf "/assets/pdf/example_pdf.pdf" %}
  </div>

  <!-- Optional: Add additional content or styling -->
  <article>
    <div class="pdf-info">
      <p>If you are unable to view the PDF, you can <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}" target="_blank" rel="noopener noreferrer">download it here</a>.</p>
    </div>
  </article>

</div>